.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
.gutter.gutter-horizontal {

    cursor: ew-resize;
}
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
.example-2 {
  height: 100vw;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
